

<div class="landing-page">
  <div class="wrapper background-white">

    <div class="jumbotron">

      <h1 class="title">互相交流、互相分享、共同成长</h1>
      <p class="slogan">交流与分享
      <br>
        会使得你加速成长
      <br>

      </p>
      <p class="lead"><a class="btn btn-lg btn-danger" href="/team">进入论坛</a></p>
    </div>




    <div class="main main-raised">

        <div class="section section-features">
          <div class="container">
            <div class="row">

              <div class="col-md-5 col-md-offset-1">
                <div class="section-description">
                  <br>
                  <br>
                  <h2 >你在为找不到方向而忧愁吗</h2>
                  <h4 class="description">  你在独自一人艰难的学习吗
                    <br><br>  经常遇到突破不了的难题吗
                    <br><br>  学各种技能都从入门到放弃吗
                  </h4>
                </div>
              </div>

              <div class="col-md-5">
                <div class="image-container">
                  <!-- 实在找不到类，样式写在表单里-->
                  <img src="https://ws1.sinaimg.cn/large/006tNc79gy1fjz6ab7zelj30lv0lvahs.jpg">
                </div>
              </div>

            </div>
          </div>
        </div>

        <br>
        <br>

        <div class="section section-features">
          <div class="container">
            <div class="row">

              <div class="col-md-5 col-md-offset-1 col-md-push-6">
                <div class="section-description">
                  <h2 >学习路上你并不孤单</h2>
                  <h4 class="description">放下你的自卑与焦虑
                    <br><br>互相督促，摆脱你的懒惰
                    <br><br>携手一并前行！！
                  </div>
                </div>
                <div class="col-md-5 col-md-pull-5">
                  <div class="image-container">
                    <!-- 实在找不到类，样式写在表单里-->
                    <img src="https://ws3.sinaimg.cn/large/006tNc79gy1fjz4sem937j31kw1f2wwr.jpg">
                  </div>
                </div>

              </div>
            </div>
          </div>

          <div class="section section-features">
            <div class="container">
              <div class="row">

                <div class="col-md-5 col-md-offset-1">
                  <div class="section-description">
                    <h2>新生大学陪伴你成长</h2>
                    <h4 class="description">学英语、学编程、学写作
                      <br><br>锻炼演讲口才、锻炼职场技能
                      <br><br>提高逻辑思维、增强做事能力
                      <br><br>名师导学让你最短的时间学到更多的知识
                    </h5>
                  </div>
                </div>

                <br>
                <br>

                <div class="col-md-5">
                  <div class="image-container">
                    <!-- 实在找不到类，样式写在表单里-->
                    <img src="https://ws2.sinaimg.cn/large/006tNc79gy1fjz1ump4e6j30lo0jak8t.jpg">
                  </div>
                </div>

              </div>
            </div>
          </div>

          <br>
          <br>

          <div class="section section-bottom">
            <div class="container">
              <div class="row">
                <div class="col-md-8 col-md-offset-2">
                  <h2 class="title text-center">学到也要做到
                                  <br>新生大学伴你一起成长</h2>

                  <div class="row">
                    <div class="text-center">
                      <a class="btn btn-lg btn-danger" href="https://www.xinshengdaxue.com/">加入我们</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
