

<div class="landing-page">
  <div class="wrapper background-white">

    <div class="jumbotron">

      <h1 class="title">子宫颈癌香港HPV疫苗</h1>
      <p class="slogan">子宫颈癌令患者痛不欲生的病毒！！
      <br>
        不能正常生活，充满恐惧与无助，从生理以至心理腐蚀病患者。
      <br>
       子宫颈癌从预防做起，HPV疫苗为您保驾护航。
      </p>
      <p class="lead"><a class="btn btn-lg btn-danger" href="/groups">了解更多</a></p>
    </div>




    <div class="main main-raised">

        <div class="section section-features">
          <div class="container">
            <div class="row">

              <div class="col-md-5 col-md-offset-1">
                <div class="section-description">
                  <h2 >子宫颈癌HPV病毒</h2>
                  <h4 class="description">  子宫癌的症状一般表现为：
                    <br><br>  接触性出血；下腹或腰骶部经常出现疼痛；
                    <br><br>  分泌物增多；宫颈糜烂;肉眼可见米粒大小的丘疹。
                  </h4>
                </div>
              </div>

              <div class="col-md-5">
                <div class="image-container">
                  <!-- 实在找不到类，样式写在表单里-->
                  <img src="https://ws3.sinaimg.cn/large/006tKfTcgy1fgqhistzjmj30af0a2jzc.jpg">
                </div>
              </div>

            </div>
          </div>
        </div>

        <br>
        <br>

        <div class="section section-features">
          <div class="container">
            <div class="row">

              <div class="col-md-5 col-md-offset-1 col-md-push-6">
                <div class="section-description">
                  <h2 >子宫颈癌HPV疫苗</h2>
                  <h4 class="description">HPV病毒容易感染，蔓延速度快。
                    <br><br>百分之八十的女性都感染过HPV病毒。
                    <br><br>接种HPV疫苗能够有效地防止HPV病毒入侵。
                    <br><br>拒绝子宫颈癌从预防开始。
                  </div>
                </div>
                <div class="col-md-5 col-md-pull-5">
                  <div class="image-container">
                    <!-- 实在找不到类，样式写在表单里-->
                    <img src="https://ws3.sinaimg.cn/large/006tKfTcgy1fgs56lhxtbj30h60cvjz6.jpg">
                  </div>
                </div>

              </div>
            </div>
          </div>

          <div class="section section-features">
            <div class="container">
              <div class="row">

                <div class="col-md-5 col-md-offset-1">
                  <div class="section-description">
                    <h2>裕力健康管理</h2>
                    <h4 class="description">裕力健康始终以人为本，以客为先。
                      <br><br>我们将与您携手共进健康路。
                      <br><br>为您提供一站式服务。
                      <br><br>
                    </h5>
                  </div>
                </div>

                <br>
                <br>

                <div class="col-md-5">
                  <div class="image-container">
                    <!-- 实在找不到类，样式写在表单里-->
                    <img src="https://ws2.sinaimg.cn/large/006tNc79gy1fgsrw2kx44j30dz0cajt4.jpg">
                  </div>
                </div>

              </div>
            </div>
          </div>

          <br>
          <br>

          <div class="section section-bottom">
            <div class="container">
              <div class="row">
                <div class="col-md-8 col-md-offset-2">
                  <h2 class="title text-center">马上预约
                                  <br> 给身体加一道防护墙</h2>

                  <div class="row">
                    <div class="text-center">
                      <%= link_to groups_path, class: "btn btn-danger btn-round" do %>
                      联系我们
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
